@import '../../scss/vars';

.wrap {
  position: relative;
}
.input {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $border;
  border: 1px solid $border;
  border-radius: 5px;
  height: 80px;
  width: 100%;
  outline: none;
  padding: 26px 24px 25px 50px;
  &:focus {
    border: 2px solid $button_1;
    & + label {
      top: 11px;
      left: initial;
      right: 40px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.label {
  position: absolute;
  left: 50px;
  top: 26px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $border;
  &::after {
    margin-left: 8px;
    content: '*';
    color: $error;
    width: 13px;
    height: 29px;
  }
}

.setlabel {
  top: 11px;
  left: initial;
  right: 40px;
  font-size: 20px;
  line-height: 24px;
}
.eye {
  cursor: pointer;
  top: 33px;
  right: 34px;
  position: absolute;
  svg {
    display: block;
    width: 19px;
    height: 20px;
  }
}

.password {
  font-size: 18px;
  line-height: 20px;
  &:focus {
    & + label {
      top: 6px;
      left: 50px;
    }
  }
}

.confirm {
  font-size: 18px;
  line-height: 20px;
  &:focus {
    & + label {
      top: 6px;
      left: 50px;
    }
  }
}

.setlabelPassword {
  top: 6px;
  left: 50px;
  font-size: 20px;
  line-height: 24px;
}

.lastname,
.ferstname {
  &:focus {
    & + label {
      color: #909473;
    }
  }
}

.setlabelName {
  color: #909473;
}

.eldiz::after {
  content: '';
}

.errorInput {
  border: 2px solid $error;
  &:focus {
    border: 2px solid $error;
  }
}

.errorLabel {
  color: $error;
}

.okInput {
  background-color: #cdd8f2;
  border: 1px solid $button_1;
}

@media (max-width: 580px) {
  .input {
    height: 56px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding: 18px 16px 19px 23px;
    &:focus {
      & + label {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .label {
    font-size: 16px;
    line-height: 24px;
    top: 15px;
    left: 25px;
  }

  .password {
    &:focus {
      & + label {
        top: 5px;
        left: 25px;
      }
    }
  }

  .confirm {
    &:focus {
      & + label {
        top: 5px;
        left: 25px;
      }
    }
  }

  .setlabel {
    top: 11px;
    left: initial;
    right: 40px;
    font-size: 14px;
    line-height: 18px;
  }

  .setlabelPassword {
    top: 5px;
    left: 25px;
  }

  .eye {
    right: 20px;
    top: 20px;
  }
}
