.text {
  font-weight: 500;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 36px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (max-width: 580px) {
  .text {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 32px;
  }
}

@media (max-width: 580px) {
  .text {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 22px;
  }
  .inner {
    gap: 24px;
  }
}
