@import '../../scss/vars';

.innerContent {
  display: flex;
  flex-direction: column;
}

.innerInput {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.errorMessage {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $error;
}

.checkbox {
  input {
    width: 24px;
    height: 24px;
  }
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block: 18px 48px;
  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
  }
}

.text {
  text-align: center;
  margin-top: 28px;
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin-bottom: 48px;
}

.innerLink {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.textLink {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $error;
}

.link {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $button_1;
}

@media (max-width: 320px) {
  .innerInput {
    gap: 12px;
  }

  .checkbox {
    gap: 12px;
    margin-block: 10px 20px;
    span {
      font-size: 16px;
    }
  }

  .text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  .iconsContainer {
    gap: 32px;
    margin-bottom: 22px;
  }

  .innerLink {
    gap: 8px;
  }

  .textLink,
  .link {
    font-size: 14px;
  }
}
