@import '../../scss/vars';

.errorMessage {
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $error;
}

.passwordInfo {
  margin-top: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: $button_1;
}

.innerInput {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.innerName {
  display: flex;
  gap: 23px;
}

.checkbox {
  input {
    width: 24px;
    height: 24px;
  }
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
  }
}

@media (max-width: 1024px) {
  .innerName {
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 450px) {
  .innerInput {
    gap: 15px;
  }
  .innerName {
    gap: 15px;
  }
  .errorMessage,
  .passwordInfo {
    margin-top: 6px;
    font-size: 10px;
    line-height: 110%;
  }
  .checkbox {
    input {
      width: 14px;
      height: 16px;
    }
    gap: 10px;
    margin-bottom: 25px;
    span {
      font-size: 16px;
    }
  }
}
