$bg: #f6f5f5;
$text_basic: #2d2d2d;
$backgr_white: #f6f5f5;
$button_1: #26489c;
$button_disabled: #d9d8d8;
$error: #ed0006;
$placeh_ok: #cdd8f2;
$border: #2d2d2d;
$text_basic: #2d2d2d;
$btn_hover: #434242;
